<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div class="navbar navbar-dark navbar-fixed-top menu">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand menuItem" })
            </div>
            @Html.ActionLink("Meyve", "Product", "Product", new { id = 2 }, new { @class = "navbar-brand menuItem" })
            @Html.ActionLink("Sebze", "Product", "Product", new { id = 3 }, new { @class = "navbar-brand menuItem" })
            @Html.ActionLink("Pet", "Product", "Product", new { id = 4 }, new { @class = "navbar-brand menuItem" })
        <div class="nav navbar-nav navbar-right">
            @{
                if (Session["OnlineKullanici"] == null)
                {
                    <div>
                        <a href="@Url.Action("Login", "Login")" class="user-info-button">
                            <i class="fa-solid fa-right-to-bracket">
                            </i>
                        </a>
                        <a href="@Url.Action("Register", "Login")" class="user-info-button">
                            <i class="fa-solid fa-user-plus">
                            </i>
                        </a>

                    </div>
                }
                else
                {
                    <div>
                        <a href="@Url.Action("UpdateProfile", "Profile")" class="user-info-button">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <a href="@Url.Action("Cart", "Shopping")" class="user-info-button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <a href="@Url.Action("WishList", "Shopping")" class="user-info-button">
                            <i class="fa-solid fa-bookmark"></i>
                        </a>
                        <a href="@Url.Action("Logout", "Login")" class="user-info-button">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </div>
                }
            }
        </div>
           
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>